<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ site.desc }}">
  <meta name="viewport" content="width=device-width">

  <title>OMB - Management and Oversight of Federal IT Public Feedback</title>

  <link rel="shortcut icon" href="{{ site.url }}/favicon.ico"/>
  <link rel="stylesheet" href="{{ site.url }}/assets/css/bootstrap.css">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/site.css">

  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

  <!--
    redirect users to the https version of the website.
    but: only check when on the production domain, as set in _config.yml.
   -->
  <script type="text/javascript">
    var enforce = "{{ site.production_hostname }}";
    if ((enforce == window.location.host) && (window.location.protocol != "https:"))
      window.location.protocol = "https";
  </script>

  {% capture edit_url %}https://github.com/{{ site.org_name }}/{{ site.repo_name }}/edit/{{ site.branch }}/{{ page.path }}{% endcapture %}

</head>
<body class="{{ page.id }}">
  <!--[if lt IE 7]>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="https://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
      </div>
    </div>
  </div>
  <![endif]-->


  <!-- Static navbar -->
  <div id="header" class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="https://www.whitehouse.gov/omb">Office of Management and Budget</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
	  <li><a class="edit-button" href="https://github.com/{{ site.org_name }}/{{ site.repo_name }}/issues"><span>Discuss</span></a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sections<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
	      <li><a href="#frequently-asked-questions-faq">Frequently Asked Questions (FAQ)</a></li>
              <li><a href="#omb-memorandum-m-15-14-management-and-oversight-of-federal-information-technology">Main Body of Proposed Guidance</a></li>
              <li><a href="#attachment-a-common-baseline-for-it-management-and-cio-assignment-plan">Attachment A: Common Baseline for IT Management and CIO Assignment Plan</a></li>
              <li><a href="#attachment-b-definitions-of-terms-for-the-purposes-of-this-guidance">Attachment B: Definitions of Terms for the Purposes of this Guidance</a></li>
              <li><a href="#attachment-c-template-for-agency-common-baseline-self-assessment-and-plan">Attachment C: Template for Agency Common Baseline Self-Assessment and Plan</a></li>
              <li><a href="#attachment-d-fiscal-year-fy-2015-portfoliostat">Attachment D: FY 2015 PortfolioStat</a></li>
              <li><a href="#attachment-e-investment-and-portfolio-management-maturity-framework">Attachment E: Investment and Portfolio Management Maturity Framework</a></li>
              <li><a href="#attachment-f-additional-agency-human-capital-plan-requirements">Attachment F: Additional Agency Human Capital Plan Requirements</a></li>
              <li><a href="#attachment-g-related-forthcoming-policies-roadmap">Attachment G: Related Forthcoming Policies Roadmap</a></li>
              <li><a href="#attachment-h-cross-walk-of-fitara-requirements">Attachment H: Cross-Walk of FITARA Requirements</a></li>
              <li><a href="#attachment-i-summary-of-agency-deadlines-and-requirements">Attachment I: Summary of Agency Deadlines and Requirements</a></li>
              <li><a href="#attachment-j-common-acronyms-and-abbreviations">Attachment J: Common Acronyms and Abbreviations</a></li>
              <li><a href="#endnotes">Endnotes</a></li>
            </ul>
          </li>
          <li><a href="https://www.whitehouse.gov/sites/default/files/omb/memoranda/2015/m-15-14.pdf">Download PDF</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
